.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
  }
  
  ion-text {
    font-size: 14px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  