<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registar Conta</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input formControlName="nome" required></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['nome'].invalid && registerForm.controls['nome'].touched">
            <ion-text color="danger">O nome é obrigatório.</ion-text>
          </div>

          <ion-item>
            <ion-label position="floating">Sobrenome</ion-label>
            <ion-input formControlName="sobrenome" required></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['sobrenome'].invalid && registerForm.controls['sobrenome'].touched">
            <ion-text color="danger">O sobrenome é obrigatório.</ion-text>
          </div>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" required></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
            <ion-text color="danger">Por favor insira um email válido.</ion-text>
          </div>

          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" formControlName="senha" required></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['senha'].invalid && registerForm.controls['senha'].touched">
            <ion-text color="danger">A senha é obrigatória (mínimo 6 caracteres).</ion-text>
          </div>

          <ion-item>
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input type="password" formControlName="confirmarSenha" required></ion-input>
          </ion-item>
          <div *ngIf="passwordsDoNotMatch">
            <ion-text color="danger">As senhas não coincidem.</ion-text>
          </div>

          <ion-button expand="full" type="submit" [disabled]="!registerForm.valid || passwordsDoNotMatch">
            Enviar
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

