ion-header {
  --background: #20A0B1;

  ion-title {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }

  ion-back-button {
    color: white;
  }
}

ion-title {
  color: white; // Título em branco para destaque
  font-weight: bold;
  font-size: 1.5rem; // Tamanho do texto do título
}

ion-content {
  --background: linear-gradient(135deg, #167D7F, #29A0B1, #98D7C2, #DDFFE7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px; // Espaçamento interno
  height: 100%; // Assegura que o conteúdo ocupe toda a altura disponível
}

ion-list {
  width: 100%;
  max-width: 600px; // Largura máxima para melhor legibilidade
  background: rgba(255, 255, 255, 0.9); // Fundo leve para destacar os itens
  border-radius: 10px; // Bordas arredondadas
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); // Sombra suave
  margin-bottom: 20px; // Espaçamento abaixo da lista
}

ion-item {
  --background: transparent; // Fundo transparente para os itens da lista
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Borda inferior leve
  padding: 10px; // Padding para os itens
  color: #FFFFFF; // Cor do texto dos itens
}

ion-label {
  color: #FFFFFF; // Cor do texto dos rótulos
  font-size: 1rem; // Tamanho do texto dos rótulos
}

h2 {
  font-weight: bold; // Negrito para os títulos das consultas
  color: #167D7F; // Cor dos títulos
  margin-bottom: 5px; // Margem inferior para espaçamento
}

p {
  font-size: 0.9rem; // Tamanho do texto secundário
  color: #555; // Cor mais clara para informações secundárias
  margin: 0; // Remove margem
}

ion-fab {
  ion-fab-button {
    width: 60px; // Largura do botão flutuante
    height: 60px; // Altura do botão flutuante
    --background: #167D7F; // Cor de fundo do botão flutuante
    --color: white; // Cor do texto do botão flutuante
  }
}

ion-modal {
  --background: white; // Fundo do modal
  border-radius: 10px; // Bordas arredondadas no modal
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); // Sombra suave no modal
}

ion-button {
  --background: #167D7F; // Cor de fundo do botão
  --color: white; // Cor do texto do botão
  --border-radius: 8px; // Bordas arredondadas
  font-weight: bold; // Negrito para o texto do botão
  margin-top: 15px; // Margem acima do botão
}

ion-tab-bar {
  --background: #20A0B1;

  ion-tab-button {
    color: #FFFFFF;

    ion-icon, ion-label {
      color: #FFFFFF;
      transition: box-shadow 0.3s ease;
    }

    &:hover {
      ion-icon, ion-label {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
}