<ion-header>
  <ion-toolbar style="--background: #20A0B1;">
    <ion-title>Adicionar Medicamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #DDFFE7;">
  <form [formGroup]="medicamentoForm" (ngSubmit)="addMedicamento()">
    <ion-item>
      <ion-label position="floating">Nome do Medicamento</ion-label>
      <ion-input formControlName="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo</ion-label>
      <ion-select formControlName="tipo" required>
        <ion-select-option value="comprimido">Comprimido (mg)</ion-select-option>
        <ion-select-option value="xarope">Xarope (ml)</ion-select-option>
        <ion-select-option value="injetavel">Injeção</ion-select-option>
        <ion-select-option value="nebulizacao">Inalador</ion-select-option>
        <ion-select-option value="gotas">Gotas</ion-select-option>
        <ion-select-option value="pomada">Pomada</ion-select-option>
        <ion-select-option value="retal">Via Retal/Vaginal</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dosagem (mg/ml)</ion-label>
      <ion-input formControlName="dosagem" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Intervalo de horário</ion-label>
      <ion-input type="number" formControlName="qnt" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dias de Tratamento</ion-label>
      <ion-input type="number" formControlName="dias" required></ion-input>
    </ion-item>

    <!-- Botão para abrir o seletor de data e hora de início -->
    <ion-item lines="none">
      <ion-label>Data e Hora de Início</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>
    <ion-text *ngIf="medicamentoForm.value.dataInicio">
      {{ medicamentoForm.value.dataInicio | date: 'short' }}
    </ion-text>

    <!-- Modal do ion-datetime -->
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" (ionChange)="onDateTimeChange($event)"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-button expand="full" type="submit" [disabled]="!medicamentoForm.valid">
      Adicionar
    </ion-button>
  </form>
</ion-content>
