<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alertas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/medicamentos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let alerta of alertas">
      <ion-item>
        <ion-label>
          <h2>Lembrete: {{ alerta.horario | date: 'HH:mm' }}</h2>
          <p>Medicamento: {{ alerta.nomeMedicamento }}</p>
          <p *ngIf="getDiasSelecionados(alerta).length > 0">
            Dias: {{ getDiasSelecionados(alerta).join(', ') }}
          </p>
        </ion-label>
        <ion-button slot="end" (click)="removerAlerta(alerta)" color="danger" fill="clear">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adicionarAlerta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
