ion-content {
  --background: linear-gradient(135deg, #167D7F, #29A0B1, #98D7C2, #DDFFE7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
  padding: 10px;
  justify-items: center;
}

ion-card {
  background: rgba(228, 7, 7, 0.185);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  max-width: 150px;
  height: 150px; /* Aumentada para acomodar melhor os ícones maiores */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  }
}

ion-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-card-title {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.card-icon {
  font-size: 48px; /* Aumenta o tamanho do ícone */
  color: #FFFFFF;
  margin-bottom: 6px; /* Espaço entre o ícone e o título */
  display: block;
  text-align: center;
}

ion-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 20px;
}

p {
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
}
