// Estilo do conteúdo principal
#main-content {
  --background: linear-gradient(135deg, #167D7F, #29A0B1, #98D7C2, #DDFFE7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

// Estilos para o grid de cards
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 900px;
  margin-top: 100px;
  padding: 10px;
  justify-items: center;
}

ion-card {
  background: rgba(228, 7, 7, 0.185);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  max-width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  }
}

// Estilo do cabeçalho dos cards
ion-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-card-title {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.card-icon {
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 6px;
  text-align: center;
}

// Estilo dos títulos e mensagens
h1, p {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

// Estilo das abas de navegação
ion-tab-bar {
  --background: #20A0B1;

  ion-tab-button {
    color: #FFFFFF;

    ion-icon,
    ion-label {
      color: #FFFFFF;
      transition: box-shadow 0.3s ease;
    }

    &:hover {
      ion-icon,
      ion-label {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
}


