ion-content {
  --background: linear-gradient(135deg, #167D7F, #29A0B1, #98D7C2, #DDFFE7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* Estilo para o título no header */
ion-title {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

ion-back-button {
  color: white;
}

/* Estilo da lista de usuários */
ion-list {
  width: 100%;
  max-width: 500px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilo dos cartões de usuários */
.user-card {
  background-color: #DDFFE7;
  border-radius: 10px;
  margin-bottom: 15px;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.card-title {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

ion-row {
  display: flex;
  align-items: center;
}

ion-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ion-button {
  --background: #167D7F;
  --color: white;
  --border-radius: 8px;
  font-weight: bold;
  margin-left: 10px;
}

ion-icon {
  font-size: 1.5rem;
}

/* Estilo para o FAB (botão flutuante) */
ion-fab-button {
  width: 60px;
  height: 60px;
  --background: #20A0B1;
  --color: white;
}
