<ion-header>
  <ion-toolbar style="--background: #20A0B1;">
    
    <ion-title>Glicose - {{ user?.nome }}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/painel/:id"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Toolbar para o botão de adicionar -->
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="adicionarNota()" class="adicionar">Adicionar Medição</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">

  <ion-tabs>
    <!-- Componente Tabs -->
    <ion-tab-bar slot="bottom" style="--background: #20A0B1;">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" routerLink="/home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="farmacias">
        <ion-icon name="medkit-outline" routerLink="/farmacias-proximas/:id"></ion-icon>
        <ion-label>Farmácias</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-icon name="person" routerLink="/perfil/:id"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pdf" (click)="gerarPDF()">
        <ion-icon name="document"></ion-icon>
        <ion-label>Pdf</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-tab tab="glicose">
    <ion-content>
      <!-- Barra de pesquisa -->
      <ion-searchbar (ionInput)="filtrarAnotacoes($event)" placeholder="Pesquisar"></ion-searchbar>
  
      <!-- Lista de medições de glicose -->
      <div #pdfContent>
        <ion-list>
          <ion-item *ngFor="let nota of glicoseFiltradas">
            <ion-label>
              <h2>{{ formatarDataHora(nota.dataHora) | date:'dd/MM/yyyy - HH:mm' }}</h2>
              <p>{{ nota.conteudo }}</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="editarNota(nota)">Editar</ion-button>
              <ion-button color="danger" (click)="excluirNota(nota)">Excluir</ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ion-tab>
  </ion-tabs>
  
</ion-content>
